@model PagedList<CPM.DAL.vw_Users_Role_Org>
@using System.Collections
@using Webdiyer.WebControls.Mvc
@using CPM.Services
@using CPM.Helper
@{ ViewBag.Title = "User List KO Mobile";}
<head>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" type="image/ico" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script language="javascript" src="@Url.Content("~/Content/Scripts/common.js")" type="text/javascript"></script>
    @*SOME scripts are better persisted in head *@ 
    <script src="@Url.Content("~/Content/jQUI/min/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/KO/knockout-2.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/KO/knockout.mapping-latest.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Content/Scripts/KO/KoExtra.js")" type="text/javascript"></script>

    @*<script src="@Url.Content("~/Content/Scripts/jquery.hint.js")" type="text/javascript"></script>    *@
</head>
@{ CPM.DAL.vw_Users_Role_Org usrSearch = ((CPM.DAL.vw_Users_Role_Org)(ViewData["SearchData"]));
    object routeValues = new { qData = Request["qData"] };
    Dictionary<string, object> txtAttr = new Dictionary<string, object>();
    txtAttr.Add("class", "hdrTxt textBox");
    txtAttr.Add("onchange", "setFiltered(1,this);");
    
    bool? oprSuccess = ((bool?)ViewData["oprSuccess"]);
}
<i class="small"><b>Note: </b>A simple demo of how we can reuse the json implementation to swap the view and get a
<br />quick implementation. This one's just for list.</i><br /><br />
<table width="1%" border="0">
    <tr>
        <td class="sqz" valign="top">
            <b class="smallHeading">Manage User</b>
        </td>
        <td align="center" style="width: 98%">
            &nbsp;
        </td>
        <td class="sqz" align="right" valign="top">
            @Html.ActionLink("Create New", "AddEdit", new { id = Defaults.Integer })&nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="3">                
            <fieldset>
                <legend onclick="showHideDiv('tblSearch')" style="cursor: pointer">&nbsp;<img id="tblSearchImg"
                    src="@Url.Content("~/Content/Images/aroB.gif")" alt="Show/Hide panel" />
                    &nbsp;Search&nbsp;</legend>
                <form action="@Url.Content("~/Users/ListKO")" method="post" id="frm" style="display: inline" onsubmit="return doAJAXSubmit(this);">
                <table id="tblSearch" cellpadding="2" cellspacing="2" border="0" width="100%">
                    <tr>
                        <td nowrap="nowrap">Name: @Html.TextBox("UserName", "", txtAttr) </td>
                        <td nowrap="nowrap">Email: @Html.TextBox("Email", "", txtAttr)</td>
                        </tr><tr>
                        <td nowrap="nowrap"> &nbsp;&nbsp;Role: @Html.DropDownList("RoleID", new SelectList((IEnumerable)ViewData["Roles"], "ID", "TEXT"), "All Roles", new { @class = "dropDown" })</td>
                        <td nowrap="nowrap">
                        <input type="submit" onclick="return doAJAXSubmit(this);" value="Search" class="button" />
                            &nbsp;&nbsp;<input type="submit" value="Reset" class="button" onclick="clearForm(document.getElementById('frm')); document.getElementById('doReset').checked = true;" />
                            <input type="checkbox" name="doReset" id="doReset" style="display: none;" />
                        </td>
                    </tr>
                </table>
                </form>
            </fieldset>
            <!-- END: Search Panel -->
        </td>
    </tr>
    <tr>
        <td colspan="3">
                <div id="tdGrid">
                    @* Try in future if needed @{Html.RenderPartial("./EditorTemplates/UserList", Model);}
                    @{ Html.RenderAction("UserList", "User"); }*@
<table width="100%" class="thinBorder" border="0">
    <thead class="header">
        <tr>
            <th nowrap="nowrap" width="2%"></th>
            <th nowrap="nowrap">Org Type</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>            
        </tr>
    </thead>
    <tbody data-bind="foreach: Users">
        <tr>
            <td nowrap="nowrap">
                <a data-bind="attr: { href: '@Html.Raw(Url.Action("AddEdit"))/' + ID}">@Html.Raw(Defaults.editImg)</a>
                <div class="dDialog" data-bind="click:$parent.removeSelected">@Html.Raw(@Defaults.delImg)</div>
            </td>
            <td nowrap="nowrap" data-bind="text:OrgType"></td>
            <td nowrap="nowrap" data-bind="text:UserName"></td>
            <td nowrap="nowrap" data-bind="text:Email"></td>
            <td nowrap="nowrap" data-bind="text:RoleName"></td>            
        </tr>
    </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <table cellpadding="0" cellspacing="0" class="pager">
                    <tr>
                        <td nowrap="nowrap" width="2%">&nbsp;Record count : </td>
                        <td data-bind="text:Users().length" align="left"></td>
                        <td width="96%"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tfoot>
</table>
                </div>
        </td>
    </tr>
</table>
<script language="javascript" type="text/javascript" defer="defer">        //setFocus("UserName");
        var ListURL = '@Url.Action("UserListKO", "User")';
    function doAJAXSubmit(frm) {
        $.ajax({
            type: "POST",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            data: $("#frm").serialize(),
            url: ListURL,
            success: function (data) {
                if (data != null) {
                    viewModel.Users(data); //ko.observableArray
                    document.getElementById('doReset').checked = false;
                }
            }
        });

        //event.preventDefault();
        return false;
    }    
    var userListModel = function () {
        var self = this;        
        self.Users = ko.observableArray(); // Initial items        
        self.removeSelected = function (user) {
            if (user != null) // Prevent blanks and duplicates
                self.Users.remove(user);
        };
    };
    
    var viewModel = new userListModel();
    function createKO() {        
        $.getJSON(ListURL, function (data) {
            viewModel.Users = ko.observableArray(data); //ko.mapping.fromJS(data.AllComments); // Initial items                      
             ko.applyBindings(viewModel);
         });
    }
    $(document).ready(function () {
        // find all the input elements with title attributes
//        $("#UserName").attr("title", "User"); $("#Email").attr("title", "Email");
//        $('input[title!=""]').hint();
        createKO();
    });
</script>
