@model CPM.DAL.ClaimRpt
@using Webdiyer.WebControls.Mvc
@using CPM.Services
@using CPM.Helper
@using System.Collections
@{ ViewBag.Title = "Claim Report"; /* _Session.IsOnlyCustomer ? "Customer" : "Internal" */    Layout = Defaults.masterLayout;}
@section HeadContent { }

@{ CPM.DAL.vw_Claim_Dashboard dSearch = (CPM.DAL.vw_Claim_Dashboard)Model.SearchData;
       Dictionary<string, object> txtAttr = new Dictionary<string, object>();
       txtAttr.Add("class", "hdrTxt textBox");
       txtAttr.Add("onchange", "setFiltered(1,this);");
       bool isCustomer = _Session.IsOnlyCustomer, isSales = _Session.IsOnlySales;
       string userType = isCustomer ? "Customer" : "Internal";
       string showSearch = (Model.Report == ReportingService.Reports.YearlyClaim.ToString()) ? "none" : "inline"; 
   }      
    <table width="100%">
    <tr>
    <td><b class="smallHeading">Claim Report</b>
    </td>
    </tr>
        <tr>
            <td colspan="2">
            <!-- START: Search Panel -->
                <form action="@Url.Content("~/Report/ClaimData")" method="post" id="frm" style="display:@showSearch">                
                @Html.Hidden("reportStr", Model.Report)
                <fieldset>
                    <legend onclick="showHideDiv('tblSearch')" style="cursor:pointer">
                    &nbsp;<img id="tblSearchImg" src="@Url.Content("~/Content/Images/aroB.gif")" alt="Show/Hide panel" />
                    &nbsp;Search&nbsp;</legend>
                <table id="tblSearch" width="100%" cellpadding="5" cellspacing="5">
                    <tr>
                        <td nowrap="nowrap" width="5%">Claim #</td>
                        <td>
                            @*<%= Html.TextBox("ClaimNo1", dSearch.ClaimNo1)%>*@
                            @Html.TextBox("ClaimNos", dSearch.ClaimNos, new{title="Enter single or comma separated multiple values"})
                        </td>
                        <td nowrap="nowrap" width="5%">Status</td>
                        <td>
                            @Html.DropDownList("StatusID", new SelectList((IEnumerable)ViewData["Status"], "id", "value", dSearch.StatusID), " ", new { @class = "dropDown" })
                        </td>
                        @if (!isCustomer) { 
                        <td nowrap="nowrap" width="5%">Assigned To</td>
                        <td valign="bottom" nowrap="nowrap">
                            @Html.TextBox("AssignToName", dSearch.AssignToName,new {@style="width:200px"})&nbsp;@Html.Raw(string.Format(Defaults.lookupImgBtn, "AssignToName"))@Html.Hidden("AssignedTo", dSearch.AssignedTo)
                        </td> 
                        } else { <td colspan="2"></td>   } 
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Customer Ref #</td>
                        <td>
                            @Html.TextBox("CustRefNo", dSearch.CustRefNo, txtAttr)
                        </td>
                        <td nowrap="nowrap">Brand</td>
                        <td valign="top" nowrap="nowrap">
                        @Html.TextBox("BrandName", dSearch.BrandName)&nbsp;@Html.Raw(string.Format(Defaults.lookupImgBtn, "BrandName"))@Html.Hidden("BrandID", dSearch.BrandID)
                        </td>
                        @if (!isCustomer) { 
                        <td nowrap="nowrap">Customer</td>
                        <td valign="middle" nowrap="nowrap">
                        @Html.TextBox("CustOrg", dSearch.CustOrg,new {@style="width:200px"})&nbsp;@Html.Raw(string.Format(Defaults.lookupImgBtn, "CustOrg"))@Html.Hidden("CustID", dSearch.CustID)
                        </td>
                        } else { <td colspan="2"></td>   }
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Claim Date From</td>
                        <td>
                            @Html.TextBox("ClaimDateFrom1", dSearch.ClaimDateFrom.HasValue ? dSearch.ClaimDateFrom.Value.ToString(Defaults.dtFormat, Defaults.ci) : "")
                            @Html.Hidden("ClaimDateFrom", dSearch.ClaimDateFrom.HasValue ? dSearch.ClaimDateFrom.Value.ToString(Defaults.dtFormat, Defaults.ci) : "")
                        </td>
                        <td nowrap="nowrap">Claim Date To</td>
                        <td>
                            @Html.TextBox("ClaimDateTo1", dSearch.ClaimDateTo.HasValue ? dSearch.ClaimDateTo.Value.ToString(Defaults.dtFormat, Defaults.ci) : "")
                            @Html.Hidden("ClaimDateTo", dSearch.ClaimDateTo.HasValue ? dSearch.ClaimDateTo.Value.ToString(Defaults.dtFormat, Defaults.ci) : "")
                        </td>
                        @if (!isCustomer && !isSales) { 
                        <td nowrap="nowrap">Salesperson</td>
                        <td valign="top" nowrap="nowrap">
                            @Html.TextBox("Salesperson", dSearch.Salesperson,new {@style="width:200px"})&nbsp;@Html.Raw(string.Format(Defaults.lookupImgBtn, "Salesperson"))@Html.Hidden("SalespersonID", dSearch.SalespersonID)
                        </td>
                        } else { <td colspan="2"></td>   } 
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                        Search Archived Claims @Html.CheckBox("Archived", dSearch.Archived)&nbsp;&nbsp;
                        <input type="submit" value="Search" class="button" />
                <input type="submit" value="Reset" class="button" onclick="clearForm(document.getElementById('frm')); document.getElementById('doReset').checked = true;resetDatepicker('#ClaimDateFrom1, #ClaimDateTo1');" />                
                <input type="checkbox" name="doReset" id="doReset" style="display: none;" />                
                        </td>
                    </tr>
                </table>                
                </fieldset>
                </form>
            <!-- END: Search Panel -->
            </td>
        </tr>        
        <tr>
            <td>  
            <div id="tdReport">
                    @{ Html.RenderAction("ClaimReport", "Report", new { reportStr = Model.Report, data = "" }); }                    
                </div>
                
            </td>
            <td><div id="tdSubReport"></div>
            </td>
        </tr>
    </table>    
    
<script language="javascript" type="text/javascript" defer="defer">    setFocus("ClaimNo1");
        //var autoCompMinLen = 2; - now available in common.js
        function callAutoComplete(source, ctrl, IDctrl) {
            //Invoke auto-comp[lete
            renderAutoComplete("@Defaults.commonRoot/Lookup?id=" + source, IDctrl, ctrl);// idBox, txtBox);
        }

    $().ready(function() {
    doCollapse(); //If url has collapse
        
        //AJAXify form
        doAjaxForm('#frm', '#tdReport', '#doReset');

        callAutoComplete("Brand", "#BrandName", "#BrandID");
        //callAutoComplete("ShipLoc", "#ShipToLoc", "#ShipToLocationID");

        callAutoComplete("Customer", "#CustOrg", "#CustID");
        callAutoComplete("User", "#AssignToName", "#AssignedTo");
        callAutoComplete("Salesperson", "#Salesperson", "#SalespersonID");                        
        //Ref: $("#SalesPerson").autocomplete({ source: ['this', 'is', 'easy', 'to', 'have', 'an', 'auto', 'complete'] });
        
        // Configure Date picker plugin
        //http://jqueryui.com/demos/datepicker/date-range.html
        var dates = $("#ClaimDateFrom1, #ClaimDateTo1").datepicker({
            defaultDate: "+1w",
            minDate:minSQLDate,
            maxDate:maxSQLDate,            
            changeMonth: true,
            numberOfMonths: 3,
            onSelect: function(selectedDate) {
                var option = this.id == "ClaimDateFrom1" ? "minDate" : "maxDate",
					instance = $(this).data("datepicker"),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
            // Set format to be used by alt date field
            $("#ClaimDateFrom1").datepicker("option", "altField", '#ClaimDateFrom');
            $("#ClaimDateFrom1").datepicker("option", "altFormat", 'dd-M-yy');

            $("#ClaimDateTo1").datepicker("option", "altField", '#ClaimDateTo');
            $("#ClaimDateTo1").datepicker("option", "altFormat", 'dd-M-yy');
    });
    
    //Required to show/hide search-panel
     //var showImgPath = "@Url.Content("~/Content/Images/aroL.gif")"; //"../../Resources/images/aroL.gif";
     //var hideImgPath = "@Url.Content("~/Content/Images/aroB.gif")";// "../../Resources/images/aroB.gif";            
       
</script>
