@model IEnumerable<CPM.DAL.ClaimRpt.YearClaimItem>
@using CPM.Helper           
@{ ViewBag.Title = "Claimwise Item count for " + ViewData["Yr"].ToString(); }
@{string dataFormat = " ['{0}', {1}, {2}],";     int count = Model.Count()-1;}
@{  //DOESN'T render section FootContent

    @* MAKE SURE THIS IS INCLUDED IN THE MAIN/PARENT REPORT PAGE *@
   <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    @* HT: DON'T use defer = defer in script below *@
    <script type="text/javascript">
    var chart1 = "", data1="";//Make it global so that it can be used in the event handler
        function drawChart1() {
            data1 = google.visualization.arrayToDataTable([
          ['Claim', 'Item count','ClaimId'],
@{ int i = 0; 
foreach(var data in Model){
    if(i++ < count){ @Html.Raw(string.Format(dataFormat, data.DspText, data.Count.ToString(), data.ClaimId))  }
    else{ @Html.Raw(string.Format(dataFormat.TrimEnd(Defaults.reportDataTrim), data.DspText, data.Count.ToString(), data.ClaimId))  }
                }
}
        ]);

            var options = {
                title: 'Claimwise Item Count for @ViewData["Yr"].ToString()'
                ,sliceVisibilityThreshold:0
            };

            chart1 = new google.visualization.PieChart(document.getElementById('chart_div1'));
            chart1.draw(data1, options);
            google.visualization.events.addListener(chart1, 'select', selectHandler1);
        }                
       try{
       google.load("visualization", "1", { packages: ["corechart"] });
       google.setOnLoadCallback(drawChart1);
        drawChart1(); } catch(ex){} /*Manually draw chart - for AJAX - try catch for delayed loading */

        function selectHandler1(){
          var cell = chartPieSelectHandler(chart1,data1,2);//make sure common.js is included

          if (cell!= null) {//Reload the YearClaimItem report
            var url = '@Html.Raw(Url.Action("Manage", "Claim", new { ClaimId = 0}))' + cell; // IF its archived, it'll be handled by Claim's action
            window.location.href = url; //redirect
          }
       }
    </script>
}
@*[ @Html.ActionLink("Yearwise", "ClaimData", "Report", new { reportStr = "YearlyClaim" }, null) ]*@
<div id="chart_div1" style="width: 400px; height: 500px; text-align:center"></div>