@{Layout = ""; /* Master page is NOT needed here */}
@{ Response.CacheControl = "no-cache"; }
@{ Response.AddHeader("Pragma", "no-cache"); }
@{ Response.Expires = -1; }
@model IEnumerable<CPM.DAL.FileDetail>
@using System.Collections
@using CPM.Helper
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Detail Files</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/jQUI/min/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jQUI/min/jquery-migrate-1.1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jQUI/min/jquery-ui-1.10.0.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.1.9.0.min.js")" type="text/javascript"></script>        

    <link href="@Url.Content("~/Content/jQUI/ui-lightness/jquery-ui-1.10.0.custom.min.css")" rel="stylesheet"type="text/css" />
</head>
<body style="background-color: #ffffff; margin: 10px 10px 10px 10px; text-align: center">
    @{         
        CPM.DAL.FileDetail FileDetailObj = (CPM.DAL.FileDetail)((ViewData["FileDetailObj"]) ?? new CPM.DAL.FileDetail());
        bool isArchived = FileDetailObj.Archived;
        string maxFileSizMB = "(" + Config.MaxFileSizMB + " MB max)";
     }
    @using (Html.BeginForm("FilesDetail", "Claim", new { ClaimGUID = FileDetailObj.ClaimGUID }, FormMethod.Post, new { id = "frmFilesDetail", enctype = "multipart/form-data", @onsubmit = "$('#btnSubmit').prop('disabled', true);" }))
    {
    <table align="center" width="100%">
        <tr>
            <td><span id="msg">&nbsp;</span></td>
        </tr>
        @if (!isArchived){
            <text>
        <tr>
            <td valign="top">
                <table cellpadding="2" cellspacing="2" width="100%">
                    <tr>
                        <td colspan="4">
                            @Html.ValidationSummary(true)
                            @Html.Hidden("ID", FileDetailObj.ID)
                            @Html.Hidden("ClaimID", FileDetailObj.ClaimID)
                            @Html.Hidden("ClaimDetailID", FileDetailObj.ClaimDetailID)
                            @Html.Hidden("UserID", FileDetailObj.UserID)
                            @Html.Hidden("UploadedOn", FileDetailObj.UploadedOn)
                            @Html.ValidationMessage("FileName")
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right" width="5%">File</td>
                        <td align="left"  width="70%" nowrap="nowrap">@* HT : DON'T class="required" because it'll err in edit mode*@
                            <input type="file" id="FileNameNEW" name="FileNameNEW" title="@maxFileSizMB" /><span class="small">@maxFileSizMB</span>
                             <span class="small">@FileDetailObj.FileName</span>@Html.Hidden("FileName", FileDetailObj.FileName)
                        </td>
                        <td valign="middle" align="right" nowrap="nowrap" width="5%">&nbsp;&nbsp;File Type</td>
                        <td width="20%">
                            @Html.DropDownList("FileType", new SelectList((IEnumerable)ViewData["FileTypes"], "id", "value", FileDetailObj.FileType), 
                            new { @class = "dropDown required", @onchange = "setDDLtext('FileType', 'FileTypeTitle');", @style = "width:99%" })
                            @Html.ValidationMessage("FileType")
                            @Html.Hidden("FileTypeTitle", FileDetailObj.FileTypeTitle)
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="right">Comment</td>
                        <td rowspan="2">@Html.TextArea("Comment", FileDetailObj.Comment, 3, 60, new { @class = "textbox", @style = "width:99%", @onblur = "return trimTextAreaMaxLen(this,250);" })</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4">
                        @Html.Hidden("ClaimGUID", FileDetailObj.ClaimGUID)
                            &nbsp;&nbsp;<input id="btnSubmit" type="submit" value="Save" class="button" onclick="setDDLtext('FileType', 'FileTypeTitle');" />
                            <input id="btnReset" type="reset" value="Cancel" class="button" onclick="window.close();" />
                        </td>
                    </tr>
                </table>        
            </td>
        </tr>
            </text>
        } 
        <tr>
            <td align="center">
            @*Files Grid : START*@
                <table class="thinBorder" width="100%">
                    <thead class="header">
                        <tr>
                            @if (!isArchived){<th></th>} 
                            <th>File</th>
                            <th>Type</th>
                            <th>Comment</th>
                            <th nowrap="nowrap">Uploaded By</th>
                            <th nowrap="nowrap">Uploaded Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model){
                            if (!item._Deleted){ //Avoid deleted records 
                                <text>
                        <tr>
                            @if (!isArchived)
                            {
                                <td nowrap="nowrap">
                                <a href='@Html.Raw(Url.Action("FilesDetail", new { ClaimID = item.ClaimID, ClaimDetailID = item.ClaimDetailID, FileDetailID = item.ID, ClaimGUID = FileDetailObj.ClaimGUID }))'>
                                    @Html.Raw(Defaults.editImg)</a>&nbsp;                                    
                                    @Html.Raw(Defaults.delPOSTImgTACO("FileDetailID", item.ID))
                            </td> }
                            <td>@item.FileName</td>
                            <td>@item.FileTypeTitle</td>
                            <td>@item.Comment</td>
                            <td>@item.UploadedBy</td>
                            <td>@item.UploadedOn.ToString(Defaults.dtFormat, Defaults.ci)</td>
                            <td align="center">
                                @{ string sepr = CPM.DAL.FileHeader.sep;
                                   string codeStr = item.FileName + sepr + item.ClaimGUID.ToString() + sepr +
                                   item.ClaimDetailID.ToString() + sepr + item.IsAsync;
                                   // Make sure you do UrlEncode TWICE in code to get the code!!!
                                   codeStr = HttpUtility.UrlEncode(CPM.Helper.Crypto.EncodeStr(codeStr, true)); 
                                }
                                @* For Debug: string clipImgLink=string.Format(Defaults.clipImgLink, Url.Action("GetFileD?" + codeStr, "Claim")); @clipImgLink *@
                                <div class="dDialog" onclick="javascript:openWin('@Url.Action("GetFileD", "Claim")@( "?" + Html.Raw(codeStr))',1,1);">
                                @Html.Raw(Defaults.clipImg)
                                </div>
                            </td>                            
                        </tr>
                                </text>
                            }
                        } 
                    </tbody>
                    <tfoot>@Html.Raw(Defaults.chkNoRecords(Model.Count(), 7))</tfoot>                            
                </table>
            @*Files Grid : END*@
            </td>
        </tr>
    </table>
    }   
   @if (!isArchived){
       <text>   
    <script src="@Url.Content("~/Content/Scripts/jquery.taconite.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Content/Scripts/common.js")" type="text/javascript"></script>@*HT: JQ required for setDDLtext*@
    <script language="javascript" type="text/javascript" defer="defer">        setFocus("FileNameNEW");
        function doDelPost(txtId, txtVal) {
            var data = {}; data[txtId] = txtVal;
            @{ int ClaimDetailId1 = (Model.Count() > 0 ? Model.First().ClaimDetailID : -1);
            string url = Url.Action("FilesDetailDeleteTaco", new { ClaimDetailID =  ClaimDetailId1, ClaimGUID = FileDetailObj.ClaimGUID}); }
            var url = '@Html.Raw(url)';
            //$(frm).attr('action');  //Claim/45/FilesDetailDelete?ClaimDetailID=37&FileDetailID=-1
            $.post(url, data);
            return false; // prevent any postback
        }
        $(document).ready(function () { $("#frmFilesDetail").validate({ @Defaults.validatorJQsetting }); });
        </script>   
       </text>       
  }
</body>
</html>