@model IEnumerable<CPM.DAL.ClaimDetail>
@using System.Collections
@using CPM.Helper
@{
    string ClaimGUID = ViewData["ClaimGUID"].ToString();
    }
<table class="thinBorder" width="100%">
    <thead class="header">
        <tr>
            <th width="1%">#</th>
            <th width="1%">Item</th>
            <th nowrap="nowrap">Size / Ply / Description</th>
            <th nowrap="nowrap">Serial No.</th>
            <th>D.O.T. No.</th>
            <th nowrap="nowrap" class1="smaller">32nds<br />Remaining</th>
            <th nowrap="nowrap">Nature Of Defect</th>
            <th nowrap="nowrap">Original<br />T.D.(32nds)</th>
            <th nowrap="nowrap">Remaining<br /> Tread %</th>
            <th nowrap="nowrap">Current<br />Price</th>
            <th nowrap="nowrap">Credit<br /> Amount</th>
            @if (!_Session.IsOnlyCustomer){ <th nowrap="nowrap" width="5%">Invoice Amt</th> } 
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{ int pos = 1;} 
        @foreach (var item in Model) {
        <tr>
            <td>@(pos++)</td>
            <td nowrap="nowrap">@item.ItemCode</td>
            <td>&nbsp;@item.Size/@item.Ply/@item.Description</td>
            <td nowrap="nowrap">@item.Serial</td>
            <td>@item.DOT</td>
            <td nowrap="nowrap">@item.TDRemaining.ToString("#0")</td>
            <td>@item.Defect</td>
            <td nowrap="nowrap">@item.TDOriginal1.ToString("#0")</td>
            <td nowrap="nowrap" align="right">@item.RemainingTread1.ToString("#0.00")%</td>
            <td nowrap="nowrap" align="right">$@item.CurrentPrice.ToString("#0.00")</td>
            <td nowrap="nowrap" align="right">$@item.CreditAmt1.ToString("#0.00")</td>
            @if (!_Session.IsOnlyCustomer){ <td align="right">@item.InvoiceAmt1.ToString("#0.00")</td> } 
            <td>
            <div class="dDialog uline small" onclick="javascript:openWin('@Url.Action("FilesDetail", "Claim", 
            new { ClaimDetailID = item.ID, ClaimGUID = ClaimGUID })',400,600);">FILES</div>
            </td>
        </tr>
           }
    </tbody>
    <tfoot>
        @Html.Raw(Defaults.chkNoRecords(Model.Count(), (!_Session.IsOnlyCustomer) ? 12 : 11))
        @if (Model.Count() > 0) { 
        <tr>
            <td colspan="10" align="right">Total:</td>
            <td align="right">@Model.Sum(c => c.CreditAmt1).ToString("#0.00")
            </td>
            @if (!_Session.IsOnlyCustomer){ 
            <td align="right">@Model.Sum(c => c.InvoiceAmt1).ToString("#0.00")</td>
            } 
            <td>&nbsp;</td>
        </tr>
        } 
    </tfoot>
</table>
