@model IEnumerable<CPM.DAL.ClaimDetail>
@using CPM.Helper
@using System.Collections
@{
    string ClaimGUID = ViewData["ClaimGUID"].ToString();
    }
&nbsp;<table border="0">
<tr>
    <td align="center"><div id="itmOprMsg" style="text-align:center;display:inline;">&nbsp;</div></td>
    <td class="sqz"><div class="dDialog uline"style="text-align:right;display:inline;"
    onclick="reloadItm('@Url.Action("Items", new { DetailID = Defaults.Integer, ClaimGUID = ClaimGUID })');"> Add New </div></td>
</tr></table>
<table class="thinBorder" width="100%" id="tblItems">
    <thead class="header">
        <tr>
            <th width="1%"></th>
            <th width="2%">Line#</th>
            <th nowrap="nowrap">Item</th>
            <th nowrap="nowrap">Description</th>
            <th>Defect</th>
            <th nowrap="nowrap"  width="5%">Credit Amt</th>
            @if (!_Session.IsOnlyCustomer)
            { <th nowrap="nowrap"  width="5%">Invoice Amt</th>} 
        </tr>
    </thead>
    <tbody>
        @{ int pos = 1; } @foreach (var item in Model) {
        if (!item._Deleted){ //Avoid deleted records 
        <tr>
            <td nowrap="nowrap">
                        <div class="dDialog" onclick="reloadItm('@Url.Action("Items", new { ClaimID = item.ClaimID, ClaimGUID = ClaimGUID, DetailID = item.ID })');">
                            @Html.Raw(Defaults.editImg)</div>&nbsp;
                @*@string.Format(Defaults.delImgLink, " reloadItm('" + Url.Action("DetailID", new { ClaimID = item.ClaimID, DetailID = item.ID }) + "');")*@
                @Html.Raw(Defaults.delPOSTImgTACO("DetailID", item.ID, "doItmDelPost"))
            </td>
            <td>@(pos++)</td>
            <td>@item.ItemCode</td>
            <td>@item.Description</td>
            <td>@item.Defect</td>
            <td align="right">@item.CreditAmt1.ToString("#0.00")</td>
            @if (!_Session.IsOnlyCustomer)
            { <td align="right">@item.InvoiceAmt1.ToString("#0.00")</td> } 
        </tr>
         }}
    </tbody>
    <tfoot>
        @Html.Raw(Defaults.chkNoRecords(Model.Count(), (!_Session.IsOnlyCustomer) ? 7 : 6))
        @{
           string CreditAmtTotal = Model.Where(c => !c._Deleted).Sum(c => Math.Round(c.CreditAmt1,2)).ToString("#0.00");
           string InvoiceAmtTotal = Model.Where(c => !c._Deleted).Sum(c => Math.Round(c.InvoiceAmt1, 2)).ToString("#0.00");
           }
            @if (Model.Count() > 0){ 
        <tr>
            <td colspan="5" align="right">Total:</td>
            <td align="right">@CreditAmtTotal</td>
            @if (!_Session.IsOnlyCustomer){ <td align="right">@InvoiceAmtTotal</td>   } 
        </tr>
        }   
    </tfoot>
</table>
<script type="text/javascript" defer="defer">
    doFurtherProcessing = function(success) {    if(!success) return;//failed
        var crdAmtTotal = 0.0; var crdTD = 0;
        var invAmtTotal = 0.0; var invTD = 0;

        $("#tblItems tbody tr:visible").each(function() {// Make sure to use tbody to avoid  hdr & footer rows
            
            @if (!_Session.IsOnlyCustomer){ 
            <text>
            crdTD = $(this).find("td:last").prev().text();// not working in IE 7 -> .trim();
            crdAmtTotal = parseFloat(crdTD) * 1 + crdAmtTotal;
            </text>
            }
            invTD = $(this).find("td:last").text();// not working in IE 7 -> .trim();
            invAmtTotal = parseFloat(invTD) * 1 + invAmtTotal;
        });
        
        $("#tblItems tfoot tr td:last").html(invAmtTotal.toFixed(2)).effect('highlight',{},2000);
        @if (!_Session.IsOnlyCustomer){ 
        @:$("#tblItems tfoot tr td:last").prev().html(crdAmtTotal.toFixed(2)).effect('highlight',{},2000);
        }
    }
    function doItmDelPost(txtId, txtVal) {
        var data = {}; data[txtId] = txtVal;
        var url = '@Url.Action("ItemDelete", "Claim", new { ClaimGUID = ClaimGUID })';
        $.post(url, data);
        return false; // prevent any postback
    }
</script>