@using Webdiyer.WebControls.Mvc
@using CPM.Services
@using CPM.Helper
@{  object routeValues = new { qData = Request["qData"] };
    string reload = "return false;";
    bool isCustomer = _Session.IsOnlyCustomer;       }
<div style="width: 99%; text-align: center" data-bind="visible:filteredRecords().length < 1">No records found</div>
<table width="100%" class="thinBorder" data-bind="visible:filteredRecords().length > 0">
    <thead class="header">
        @*NOTE: DO NOT change column order without updating the Group logic variables below*@
        <tr>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'CNo')}">           
            @Html.Raw(HttpUtility.HtmlDecode(Html.SortableColumn("Claim #", "CNo", reload, routeValues, true, false))) </th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'CDate')}">
            @Html.Raw(Html.SortableColumn("Claim Date", "CDate", reload, routeValues))            
            </th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'CustRef')}">
            @Html.Raw(HttpUtility.HtmlDecode(Html.SortableColumn("Customer<br/>Ref #", "CustRef", reload, routeValues)))
            @* For future: reload(this.href,'','#main');*@</th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'ShpLocCode')}">
            @Html.Raw(HttpUtility.HtmlDecode(Html.SortableColumn("Location", "ShpLocCode", reload, routeValues)))</th>
            <th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'Brand')}">
            @Html.Raw(Html.SortableColumn("Brand", "Brand", reload, routeValues))</th>
<th nowrap="nowrap" data-bind="click: function(data,event){$root.sortData(data, event,'Status')}">
            @Html.Raw(Html.SortableColumn("Status", "Status", reload, routeValues))</th>
            <th nowrap="nowrap"data-bind="click: function(data,event){$root.sortData(data, event,'Files')}">
            @Html.Raw(Html.SortableColumn("File", "Files", reload, routeValues))</th>            
        </tr>
    </thead>
    <tbody data-bind="foreach: pagedRows">@* Claims *@
        <tr>
            <td align="center">
                @*<u><div title="Click to view this claim" style="height: 99%; cursor: pointer;" data-bind="text:$data.ClaimNo, 
                click:function(data,event){ gotoClaim($data.ID);return false;}"></div></u> *@
                <a title="Click to view this claim" data-bind="text:$data.CNo, 
                attr:{href:'@HttpUtility.UrlDecode(Url.Action("Manage?", "Claim", new { ClaimId = -99 }))'.replace('-99', $data.CNo)}"></a>
        </td>
        <td align="center" data-bind="text:CDtTxt"></td>
        <td align="center" data-bind="text:CustRef"></td>
        <td align="center" data-bind="text:ShpLocCode"></td>
        <td align="center" data-bind="text:Brand"></td>
        <td align="center">
            <div data-bind="attr: {id : 'dialog' + $data.ID}"></div>
            <div class="dDialog uline" data-bind="click: function(data,event){showDialog('Status',$data.ID,$data.Archvd);claimObj = this;},html:$data.Status, attr:{id:'statusDIV' + $data.ID}"></div>        
        </td>
        <td align="center">
        <input type="image" src="@Url.Content("~/Content/Images/files.gif")" alt="View Files" title="View Files"
                data-bind="visible: Files,click: function(data,event){showDialog('Files',$data.ID,$data.Archvd);return false;}"/>
        </td>
        @*<td align="center">
            <input type="image" src="@Url.Content("~/Content/Images/Print.png")" alt="Print Claim" title="Print Claim"
            data-bind="click: function(data,event){openPrintDialog($data.ID);return false;}" />
        </td>*@
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" align="center">
                <table cellpadding="0" cellspacing="0" class="pager noborder" style="width: 100%" border="0">
                    <tr>
                        <td nowrap="nowrap" id="usrCount">&nbsp;Records : <span data-bind="text:filteredRecords().length"></span>, Page : <span data-bind="text:pageIndex()+1"></span>
                        </td>
                        <td></td>
                        <td align="right" width="98%" nowrap="nowrap">
                            <div class="dDialog uline" data-bind="click: previousPage, visible: pageIndex() > 0">« prev</div>
                            &nbsp;&nbsp;
                        <div class="dDialog uline" data-bind="click: nextPage, visible: pageIndex() < maxPageIndex()">next »</div>
                            &nbsp;

                        @*<div class="dDialog uline" data-bind="click: function(data,event){return page(data,0);}">« prev</div> &nbsp;&nbsp;
                        <div class="dDialog uline" data-bind="click: function(data,event){return page(data,1);}">next »</div> &nbsp; *@
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tfoot>
</table>
@*{ Html.RenderPartial("KO/ListInternalKOscript",
       new ViewDataDictionary { { "gridPageSize", ViewData["gridPageSize"] } }); }*@